{% extends "html/base.html" %}

{% load static%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quizPage.css' %}">
{% endblock %}

{% block message %}
  {% include 'html/modal.html' %}
{% endblock %}

{% block content %}

<div class="quiz-container" id="info">
  <form method="post" action="">
    {% csrf_token %} 
    <div class="info-header">
      <div class="text">
        Welcome to Quizzme, where we provide you the facilites to create your own
        Quiz and allow others to participate in your created quiz
      </div>
    </div>
    <hr>
    <div class="mb-4 row info">
      <label for="inputPassword" class="col-sm-3 col-form-label">Quiz Link</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputPassword" name="link">
      </div>
    </div>
      <button type="submit" class="btn btn-info">Proceed</button>
  </form>
</div>
{% endblock %}