@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-image: 
    url("../img/background.90baa4284d71.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden !important;
}
#card{
  margin-right: 0.5rem !important;
}
a{
  text-decoration: none;
  color: black
}
a:hover{
  color: black;
}
.btn-lgt{
  background: #FF2E63 !important;
  padding: 0.7rem 0.7rem!important;
  border-radius: 50%;
  position: absolute;
  left: 47%;
  top: 90%;
}
.row{
  margin-top: 7rem !important;
}
.row>*{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.card-body{
  background: #FF2E63;
  text-align: center !important;
}