body,html{
    margin: 0;
	padding: 0;
	height: 100%;
	background-image: 
    url("../img/background.90baa4284d71.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #FF2E63;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.form_container {
	margin-top: 20px;
}
#form-title{
	color: #eaeaea;			
}
.login_btn {
	width: 100%;
	background: #252A34 !important;
	color: #08D9D6 !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #252A34 !important;
	color: #08D9D6 !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,.input_pass:focus{
	box-shadow:  0 2px 4px rgb(255, 46, 99)!important;
	outline: 0px !important;
}
a{
	color: #eaeaea;
	text-decoration: none;
}
a:hover{
	color: #eaeaea;
}
#messages{
	background-color: #252A34;
	text-align: center;
	color: #FF2E63;
	padding: 10px;
	margin-top: 10px;
	border-radius: 25px;
}