@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
body{
    background-image: 
      url("../img/background.90baa4284d71.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.quiz-container{
  background-color: #FF2E63;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
}
#result{
  margin-top: 15%;
  width: 400px;
}
#info{
  margin-top: 10%;
  width: 500px;
}
.quiz-header{
  padding: 4rem;
}
.result-header,.info-header{
  padding: 2rem;
}

b{
  color: #00FFC6;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
h3{
  text-align: center;
  margin: 0;
}
button{
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #04adc4;
}
button:focus{
  outline: none;
  background-color: #44b927;
}
.row{
  padding-left: 4rem !important;
}